<h1>Listing business_planes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Vision</th>
    <th>Acknowledgment</th>
    <th>Duration</th>
    <th>Total investment</th>
    <th>Gross margin</th>
    <th>Roi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @business_planes.each do |business_plane| %>
  <tr>
    <td><%= business_plane.title %></td>
    <td><%= business_plane.category %></td>
    <td><%= business_plane.vision %></td>
    <td><%= business_plane.acknowledgment %></td>
    <td><%= business_plane.duration %></td>
    <td><%= business_plane.total_investment %></td>
    <td><%= business_plane.gross_margin %></td>
    <td><%= business_plane.roi %></td>
    <td><%= link_to 'Show', business_plane %></td>
    <td><%= link_to 'Edit', edit_business_plane_path(business_plane) %></td>
    <td><%= link_to 'Destroy', business_plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business plane', new_business_plane_path %>
